{% extends 'chickenlist/std.html' %}


{% block content %}


<div id="top" class="section">
    <br>
    <div class="restricted">
		<h2>{{ title }}</h2>
    </div>
</div>

<div class="section">
    <div class="textcont">
        <div class="textpanel">
            <p>
                Dieser Besitzer ist uns leider unbekannt.<br>
                Sollten sie weiterhin Probleme beim abrufen Ihres nächsten Termins haben,<br>
                Kontaktieren sie uns doch per Telefon.
            </p>
        </div>
    </div>
</div>


{% endblock %}